<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="icon.svg" type="image/x-icon" />
    <title>Client Referral Form</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #fff;
            color: #fff;
        }

        .top-menu {
            background-color: #0c1e3e;
            color: #fff;
            padding: 0px 10px;
            display: flex;
            justify-content: space-between;
            position: fixed;
            width: 100%;
            z-index: 1000;
            top: 0;
        }

        .container {
            max-width: 800px;
            margin: 120px auto;
            padding: 20px;
            background-color: #0c1e3e;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
        }

        h1,
        h2 {
            font-family: 'Orbitron', sans-serif;

        }

        h1 {
            font-size: 36px;
            text-align: center;
            margin-bottom: 30px;

        }

        h2 {
            font-size: 24px;
            margin-bottom: 10px;
            color: #007bff;
        }

        label {
            display: inline;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="tel"],
        input[type="number"],
        textarea {
            width: 98%;
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
            background-color: transparent;
            color: #fff;
        }

        select {
            width: 98%;
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
            background-color: transparent;
        }

        input[type="radio"],
        input[type="checkbox"] {
            margin-right: 5px;
        }

        button[type="submit"] {
            padding: 10px 20px;
            background-color: #007bff;
            /* Blue button */
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
            /* Darker blue on hover */
        }

        /* Space-themed background */
        body {
            background-size: cover;
            background-repeat: no-repeat;
        }

        /* Submenu */
        .submenu {
            position: absolute;
            top: 85px;
            right: 2px;
            left: 0px;
            background-color: #0c1e3e;
            padding: 10px;
            display: none;
            width: 100%;
            z-index: 1500;
        }
        
     
        .submenu a {
            display: block;
            text-decoration: none;
            color: #fff;
        }

        #close-menu {
            display: none;
            padding-right: 1em;
            padding-top: 1.28em;
            cursor: pointer;
        }

        #open-menu {
            padding-right: 1em;
            padding-top: 1.28em;
            cursor: pointer;
        }

        #specimen-details {
            display: none;
        }

        .suggestions-div {
            background-color: #0941a1;
            opacity: 95%;
            border-radius: 8px;
            margin-top: -10px;
            z-index: 1000;
            position: relative;
            width: 100%;
            max-height: 200px;
            overflow-y: auto;
        }

        #suggestions1 {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #suggestions1 li {
            cursor: pointer;
            padding: 5px;
            margin: 15px;
            color: #00e676;
        }

        #suggestions1 li:hover {
            background-color: #032766;
            border-radius: 8px;
        }

        #suggestions2 {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #suggestions2 li {
            cursor: pointer;
            padding: 5px;
            margin: 15px;
            color: #00e676;
        }

        #suggestions2 li:hover {
            background-color: #535151;
            border-radius: 8px;
        }

        /* Additional styles for smaller screens */
        @media only screen and (max-width: 768px) {
            .container {
                padding: 15px;
                margin: 10px;
                margin-top: 120px;
            }

            h1 {
                font-size: 28px;
            }

            h2 {
                font-size: 20px;
                color: #007bff;
            }

            input[type="text"],
            input[type="tel"],
            input[type="number"],
            select,
            textarea {
                font-size: 14px;
            }

            .suggestions-div {
                background-color: rgba(0, 0, 0, 0.9);
                opacity: 95%;
                border-radius: 8px;
                margin-top: -10px;
                z-index: 1000;
                position: relative;
                width: 100%;
                max-height: 200px;
                overflow-y: auto;
            }

            .submenu {
                position: absolute;
                top: 80px;
                right: 2px;
                left: 0px;
                background-color: #0c1e3e;
                padding: 10px;
                display: none;
                width: 100%;
                z-index: 1500;
            }
        }
    </style>
</head>

<body>
    <div class="top-menu">
        <h1>
            Dockonekt
        </h1>
        <span class="material-symbols-outlined" id="open-menu">menu</span>
        <span class="material-symbols-outlined" id="close-menu">close</span>
        <div class="submenu" id="submenu">
            <h3><a href="/home?id=<%= user.id %>">Home</a></h3>
            <h3><a href="/referral?id=<%= user.id %>">Referrals</a></h3>
            <h3><a href="/consultation?id=<%= user.id %>">Consultations</a></h3>
            <h3><a href="/specimen-movement?id=<%= user.id %>">Specimen movement</a></h3>
        </div>
    </div>
    <div class="container">
        <h1>Client Referral Form</h1>
        <form>

            <div class="section">
                <h2>Service Level</h2>
                <label for="emergency">Emergency</label>
                <input type="radio" id="emergency" name="serviceLevel" value="emergency" required>
                <label for="urgent">Urgent</label>
                <input type="radio" id="urgent" name="serviceLevel" value="urgent" required>
                <label for="routine">Routine</label>
                <input type="radio" id="routine" name="serviceLevel" value="routine" required>
            </div>
            <div class="section">
                <h2>Referral Type (required)</h2>
                <label for="local">Local</label>
                <input type="radio" id="local" name="referralType" value="local-referral" required>
                <label for="interCounty">Inter-county</label>
                <input type="radio" id="interCounty" name="referralType" value="intercounty-referral" required>
                <label for="overseas">Overseas</label>
                <input type="radio" id="overseas" name="referralType" value="overseas-referral" required>
            </div>
            <div class="section">
                <h2>Date & Time</h2>
                <label for="date">Date:(required)</label><br>
                <input type="date" id="date" name="date" required><br>
                <label for="time">Time:(required)</label><br>
                <input type="time" id="time" name="time" required> <br>
                <br>
            </div>
            <h2>Client Details</h2>
            <div class="section">
                <label for="clientName">Name:(required)</label>
                <input type="text" id="clientName" name="clientName" required>
                <label for="age">Age:(required)</label>
                <input type="number" id="age" name="age" required>
                <label for="sex">Sex:(required)</label>
                <select name="sex" id="sex" required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="section">
                <label for="ipOpNumber">IP/OP Number:(required)</label>
                <input type="text" id="ipOpNumber" name="ipOpNumber" required>
                <label for="idNumber">ID Number:(If applicable)</label>
                <input type="text" id="idNumber" name="idNumber" required>
            </div>
            <div class="section">
                <label for="nhifNumber">NHIF Number:(If applicable)</label>
                <input type="text" id="nhifNumber" name="nhifNumber" required>
                <label for="phoneNumber">Phone Number(s):(required)</label>
                <input type="tel" id="phoneNumber" name="phoneNumber" required>
            </div>
            <div class="section">
                <label for="address">Physical Address:(required)</label>
                <textarea id="address" name="address" rows="4" cols="50" required></textarea>
            </div>
            <!-- Locations -->
            <div class="section">
                <label for="county">County:(required)</label>

                <select name="county" id="county">
                    <option value="">Select a county</option>
                    <option value="Baringo">Baringo</option>
                    <option value="Bomet">Bomet</option>
                    <option value="Bungoma">Bungoma</option>
                    <option value="Busia">Busia</option>
                    <option value="Elgeyo-Marakwet">Elgeyo-Marakwet</option>
                    <option value="Embu">Embu</option>
                    <option value="Garissa">Garissa</option>
                    <option value="Homa Bay">Homa Bay</option>
                    <option value="Isiolo">Isiolo</option>
                    <option value="Kajiado">Kajiado</option>
                    <option value="Kakamega">Kakamega</option>
                    <option value="Kericho">Kericho</option>
                    <option value="Kiambu">Kiambu</option>
                    <option value="Kilifi">Kilifi</option>
                    <option value="Kirinyaga">Kirinyaga</option>
                    <option value="Kisii">Kisii</option>
                    <option value="Kisumu">Kisumu</option>
                    <option value="Kitui">Kitui</option>
                    <option value="Kwale">Kwale</option>
                    <option value="Laikipia">Laikipia</option>
                    <option value="Lamu">Lamu</option>
                    <option value="Machakos">Machakos</option>
                    <option value="Makueni">Makueni</option>
                    <option value="Mandera">Mandera</option>
                    <option value="Marsabit">Marsabit</option>
                    <option value="Meru">Meru</option>
                    <option value="Migori">Migori</option>
                    <option value="Mombasa">Mombasa</option>
                    <option value="Murang'a">Murang'a</option>
                    <option value="Nairobi">Nairobi</option>
                    <option value="Nakuru">Nakuru</option>
                    <option value="Nandi">Nandi</option>
                    <option value="Narok">Narok</option>
                    <option value="Nyamira">Nyamira</option>
                    <option value="Nyandarua">Nyandarua</option>
                    <option value="Nyeri">Nyeri</option>
                    <option value="Samburu">Samburu</option>
                    <option value="Siaya">Siaya</option>
                    <option value="Taita-Taveta">Taita-Taveta</option>
                    <option value="Tana River">Tana River</option>
                    <option value="Tharaka-Nithi">Tharaka-Nithi</option>
                    <option value="Trans-Nzoia">Trans-Nzoia</option>
                    <option value="Turkana">Turkana</option>
                    <option value="Uasin Gishu">Uasin Gishu</option>
                    <option value="Vihiga">Vihiga</option>
                    <option value="Wajir">Wajir</option>
                    <option value="West Pokot">West Pokot</option>
                </select>

                <label for="subCounty">Sub County:(required)</label>
                <select id="subCounty">
                    <option value="Kisumu Central">Kisumu Central</option>
                    <option value="Kisumu East">Kisumu East</option>
                    <option value="Kisumu West">Kisumu West</option>
                    <option value="Kisumu North">Kisumu North</option>
                    <option value="Kisumu South">Kisumu South</option>
                    <option value="Nyando">Nyando</option>
                    <option value="Muhoroni">Muhoroni</option>
                    <option value="Seme">Seme</option>
                    <option value="Changamwe">Changamwe</option>
                    <option value="Jomvu">Jomvu</option>
                    <option value="Kisauni">Kisauni</option>
                    <option value="Nyali">Nyali</option>
                    <option value="Likoni">Likoni</option>
                    <option value="Mvita">Mvita</option>
                    <option value="Msambweni">Msambweni</option>
                    <option value="Lungalunga">Lungalunga</option>
                    <option value="Matuga">Matuga</option>
                    <option value="Kinango">Kinango</option>
                    <option value="Kilifi North">Kilifi North</option>
                    <option value="Kilifi South">Kilifi South</option>
                    <option value="Kilifi Central">Kilifi Central</option>
                    <option value="Malindi">Malindi</option>
                    <option value="Magarini">Magarini</option>
                    <option value="Ganze">Ganze</option>
                    <option value="Rabai">Rabai</option>
                    <option value="Kaloleni">Kaloleni</option>
                    <option value="Bura">Bura</option>
                    <option value="Galole">Galole</option>
                    <option value="Garsen">Garsen</option>
                    <option value="Balambala">Balambala</option>
                    <option value="Dadaab">Dadaab</option>
                    <option value="Fafi">Fafi</option>
                    <option value="Garissa Township">Garissa Township</option>
                    <option value="Hulugho">Hulugho</option>
                    <option value="Ijara">Ijara</option>
                    <option value="Lagdera">Lagdera</option>
                    <option value="Banissa">Banissa</option>
                    <option value="Lafey">Lafey</option>
                    <option value="Mandera East">Mandera East</option>
                    <option value="Mandera North">Mandera North</option>
                    <option value="Mandera South">Mandera South</option>
                    <option value="Eldas">Eldas</option>
                    <option value="Wajir East">Wajir East</option>
                    <option value="Wajir North">Wajir North</option>
                    <option value="Wajir South">Wajir South</option>
                    <option value="Wajir West">Wajir West</option>
                    <option value="Laisamis">Laisamis</option>
                    <option value="Marsabit Central">Marsabit Central</option>
                    <option value="Marsabit North">Marsabit North</option>
                    <option value="Marsabit South">Marsabit South</option>
                    <option value="Moyale">Moyale</option>
                    <option value="North Horr">North Horr</option>
                    <option value="Saku">Saku</option>
                    <option value="Garbatulla">Garbatulla</option>
                    <option value="Isiolo North">Isiolo North</option>
                    <option value="Isiolo South">Isiolo South</option>
                    <option value="Merti">Merti</option>
                    <option value="Buuri">Buuri</option>
                    <option value="Igembe Central">Igembe Central</option>
                    <option value="Igembe North">Igembe North</option>
                    <option value="Igembe South">Igembe South</option>
                    <option value="Imenti Central">Imenti Central</option>
                    <option value="Imenti North">Imenti North</option>
                    <option value="Imenti South">Imenti South</option>
                    <option value="Meru Central">Meru Central</option>
                    <option value="Tigania Central">Tigania Central</option>
                    <option value="Tigania East">Tigania East</option>
                    <option value="Tigania West">Tigania West</option>
                    <option value="Tigania South">Tigania South</option>
                    <option value="Meru South">Meru South</option>
                    <option value="Tharaka">Tharaka</option>
                    <option value="Chuka">Chuka</option>
                    <option value="Igambang'ombe">Igambang'ombe</option>
                    <option value="Maara">Maara</option>
                    <option value="Tharaka">Tharaka</option>
                    <option value="Manyatta">Manyatta</option>
                    <option value="Mbeere North">Mbeere North</option>
                    <option value="Mbeere South">Mbeere South</option>
                    <option value="Runyenjes">Runyenjes</option>
                    <option value="Siakago">Siakago</option>
                    <option value="Kitui Central">Kitui Central</option>
                    <option value="Kitui East">Kitui East</option>
                    <option value="Kitui Rural">Kitui Rural</option>
                    <option value="Kitui South">Kitui South</option>
                    <option value="Kitui West">Kitui West</option>
                    <option value="Mwingi Central">Mwingi Central</option>
                    <option value="Mwingi North">Mwingi North</option>
                    <option value="Mwingi West">Mwingi West</option>
                    <option value="Athi River">Athi River</option>
                    <option value="Kangundo">Kangundo</option>
                    <option value="Kathiani">Kathiani</option>
                    <option value="Machakos Central">Machakos Central</option>
                    <option value="Masinga">Masinga</option>
                    <option value="Matungulu">Matungulu</option>
                    <option value="Mavoko">Mavoko</option>
                    <option value="Mwala">Mwala</option>
                    <option value="Yatta">Yatta</option>
                    <option value="Kaiti">Kaiti</option>
                    <option value="Kibwezi East">Kibwezi East</option>
                    <option value="Kibwezi West">Kibwezi West</option>
                    <option value="Kilome">Kilome</option>
                    <option value="Makueni">Makueni</option>
                    <option value="Mbooni">Mbooni</option>
                    <option value="Kinangop">Kinangop</option>
                    <option value="Kipipiri">Kipipiri</option>
                    <option value="Ol Joro Orok">Ol Joro Orok</option>
                    <option value="Ndaragwa">Ndaragwa</option>
                    <option value="Kieni East">Kieni East</option>
                    <option value="Kieni West">Kieni West</option>
                    <option value="Mathira East">Mathira East</option>
                    <option value="Mathira West">Mathira West</option>
                    <option value="Mukurweini">Mukurweini</option>
                    <option value="Nyeri Central">Nyeri Central</option>
                    <option value="Tetu">Tetu</option>
                    <option value="Gichugu">Gichugu</option>
                    <option value="Kirinyaga Central">Kirinyaga Central</option>
                    <option value="Kirinyaga East">Kirinyaga East</option>
                    <option value="Kirinyaga West">Kirinyaga West</option>
                    <option value="Mwea East">Mwea East</option>
                    <option value="Mwea West">Mwea West</option>
                    <option value="Gatanga">Gatanga</option>
                    <option value="Kahuro">Kahuro</option>
                    <option value="Kandara">Kandara</option>
                    <option value="Kangema">Kangema</option>
                    <option value="Kigumo">Kigumo</option>
                    <option value="Mathioya">Mathioya</option>
                    <option value="Murang'a South">Murang'a South</option>
                    <option value="Murang'a North">Murang'a North</option>
                    <option value="Gatundu North">Gatundu North</option>
                    <option value="Gatundu South">Gatundu South</option>
                    <option value="Githunguri">Githunguri</option>
                    <option value="Juja">Juja</option>
                    <option value="Kabete">Kabete</option>
                    <option value="Kiambaa">Kiambaa</option>
                    <option value="Kiambu">Kiambu</option>
                    <option value="Kiambu Town">Kiambu Town</option>
                    <option value="Kikuyu">Kikuyu</option>
                    <option value="Limuru">Limuru</option>
                    <option value="Lari">Lari</option>
                    <option value="Ruiru">Ruiru</option>
                    <option value="Thika East">Thika East</option>
                    <option value="Thika West">Thika West</option>
                    <option value="Loima">Loima</option>
                    <option value="Turkana Central">Turkana Central</option>
                    <option value="Turkana East">Turkana East</option>
                    <option value="Turkana North">Turkana North</option>
                    <option value="Turkana South">Turkana South</option>
                    <option value="Kacheliba">Kacheliba</option>
                    <option value="Pokot Central">Pokot Central</option>
                    <option value="Pokot North">Pokot North</option>
                    <option value="Pokot South">Pokot South</option>
                    <option value="Sigor">Sigor</option>
                    <option value="Samburu Central">Samburu Central</option>
                    <option value="Samburu East">Samburu East</option>
                    <option value="Samburu North">Samburu North</option>
                    <option value="Cherangany">Cherangany</option>
                    <option value="Endebess">Endebess</option>
                    <option value="Kiminini">Kiminini</option>
                    <option value="Saboti">Saboti</option>
                    <option value="Kwanza">Kwanza</option>
                    <option value="Ainabkoi">Ainabkoi</option>
                    <option value="Kapseret">Kapseret</option>
                    <option value="Kesses">Kesses</option>
                    <option value="Moiben">Moiben</option>
                    <option value="Soy">Soy</option>
                    <option value="Turbo">Turbo</option>
                    <option value="Keiyo North">Keiyo North</option>
                    <option value="Keiyo South">Keiyo South</option>
                    <option value="Marakwet East">Marakwet East</option>
                    <option value="Marakwet West">Marakwet West</option>
                    <option value="Aldai">Aldai</option>
                    <option value="Chesumei">Chesumei</option>
                    <option value="Emgwen">Emgwen</option>
                    <option value="Mosop">Mosop</option>
                    <option value="Nandi Central">Nandi Central</option>
                    <option value="Nandi East">Nandi East</option>
                    <option value="Nandi North">Nandi North</option>
                    <option value="Nandi South">Nandi South</option>
                    <option value="Tindiret">Tindiret</option>
                    <option value="Baringo Central">Baringo Central</option>
                    <option value="Baringo North">Baringo North</option>
                    <option value="Baringo South">Baringo South</option>
                    <option value="Eldama Ravine">Eldama Ravine</option>
                    <option value="Mogotio">Mogotio</option>
                    <option value="Tiaty">Tiaty</option>
                    <option value="Laikipia East">Laikipia East</option>
                    <option value="Laikipia North">Laikipia North</option>
                    <option value="Laikipia West">Laikipia West</option>
                    <option value="Gilgil">Gilgil</option>
                    <option value="Kuresoi North">Kuresoi North</option>
                    <option value="Kuresoi South">Kuresoi South</option>
                    <option value="Molo">Molo</option>
                    <option value="Nakuru East">Nakuru East</option>
                    <option value="Nakuru North">Nakuru North</option>
                    <option value="Nakuru West">Nakuru West</option>
                    <option value="Njoro">Njoro</option>
                    <option value="Rongai">Rongai</option>
                    <option value="Subukia">Subukia</option>
                    <option value="Narok East">Narok East</option>
                    <option value="Narok North">Narok North</option>
                    <option value="Narok South">Narok South</option>
                    <option value="Narok West">Narok West</option>
                    <option value="Transmara East">Transmara East</option>
                    <option value="Transmara West">Transmara West</option>
                    <option value="Kajiado Central">Kajiado Central</option>
                    <option value="Kajiado East">Kajiado East</option>
                    <option value="Kajiado North">Kajiado North</option>
                    <option value="Kajiado South">Kajiado South</option>
                    <option value="Kajiado West">Kajiado West</option>
                    <option value="Ainamoi">Ainamoi</option>
                    <option value="Belgut">Belgut</option>
                    <option value="Bureti">Bureti</option>
                    <option value="Kipkelion East">Kipkelion East</option>
                    <option value="Kipkelion West">Kipkelion West</option>
                    <option value="Soin/Sigowet">Soin/Sigowet</option>
                    <option value="Bomet Central">Bomet Central</option>
                    <option value="Bomet East">Bomet East</option>
                    <option value="Chepalungu">Chepalungu</option>
                    <option value="Konoin">Konoin</option>
                    <option value="Butere">Butere</option>
                    <option value="Kakamega Central">Kakamega Central</option>
                    <option value="Kakamega East">Kakamega East</option>
                    <option value="Kakamega North">Kakamega North</option>
                    <option value="Kakamega South">Kakamega South</option>
                    <option value="Kakamega West">Kakamega West</option>
                    <option value="Lugari">Lugari</option>
                    <option value="Lurambi">Lurambi</option>
                    <option value="Malava">Malava</option>
                    <option value="Matete">Matete</option>
                    <option value="Matungu">Matungu</option>
                    <option value="Mumias East">Mumias East</option>
                    <option value="Mumias West">Mumias West</option>
                    <option value="Navakholo">Navakholo</option>
                    <option value="Emuhaya">Emuhaya</option>
                    <option value="Hamisi">Hamisi</option>
                    <option value="Luanda">Luanda</option>
                    <option value="Sabatia">Sabatia</option>
                    <option value="Vihiga">Vihiga</option>
                    <option value="Bumula">Bumula</option>
                    <option value="Bungoma Central">Bungoma Central</option>
                    <option value="Bungoma East">Bungoma East</option>
                    <option value="Bungoma North">Bungoma North</option>
                    <option value="Bungoma South">Bungoma South</option>
                    <option value="Cheptais">Cheptais</option>
                    <option value="Kanduyi">Kanduyi</option>
                    <option value="Kimilili">Kimilili</option>
                    <option value="Mount Elgon">Mount Elgon</option>
                    <option value="Sirisia">Sirisia</option>
                    <option value="Tongaren">Tongaren</option>
                    <option value="Bunyala">Bunyala</option>
                    <option value="Butula">Butula</option>
                    <option value="Matayos">Matayos</option>
                    <option value="Nambale">Nambale</option>
                    <option value="Teso North">Teso North</option>
                    <option value="Teso South">Teso South</option>
                    <option value="Samia">Samia</option>
                    <option value="Alego Usonga">Alego Usonga</option>
                    <option value="Gem">Gem</option>
                    <option value="Rarieda">Rarieda</option>
                    <option value="Ugenya">Ugenya</option>
                    <option value="Ugunja">Ugunja</option>
                    <option value="Bondo">Bondo</option>
                    <option value="Homa Bay Town">Homa Bay Town</option>
                    <option value="Ndhiwa">Ndhiwa</option>
                    <option value="Rachuonyo North">Rachuonyo North</option>
                    <option value="Rachuonyo South">Rachuonyo South</option>
                    <option value="Rangwe">Rangwe</option>
                    <option value="Suba North">Suba North</option>
                    <option value="Suba South">Suba South</option>
                    <option value="Awendo">Awendo</option>
                    <option value="Kuria East">Kuria East</option>
                    <option value="Kuria West">Kuria West</option>
                    <option value="Nyatike">Nyatike</option>
                    <option value="Rongo">Rongo</option>
                    <option value="Suna East">Suna East</option>
                    <option value="Suna West">Suna West</option>
                    <option value="Uriri">Uriri</option>
                    <option value="Bobasi">Bobasi</option>
                    <option value="Bomachoge Borabu">Bomachoge Borabu</option>
                    <option value="Bomachoge Chache">Bomachoge Chache</option>
                    <option value="Kitutu Chache North">Kitutu Chache North</option>
                    <option value="Kitutu Chache South">Kitutu Chache South</option>
                    <option value="Nyaribari Chache">Nyaribari Chache</option>
                    <option value="Nyaribari Masaba">Nyaribari Masaba</option>
                    <option value="South Mugirango">South Mugirango</option>
                    <option value="Borabu">Borabu</option>
                    <option value="Manga">Manga</option>
                    <option value="Masaba North">Masaba North</option>
                    <option value="Masaba South">Masaba South</option>
                    <option value="Nyamira North">Nyamira North</option>
                    <option value="Nyamira South">Nyamira South</option>
                    <option value="Dagoretti North">Dagoretti North</option>
                    <option value="Dagoretti South">Dagoretti South</option>
                    <option value="Embakasi Central">Embakasi Central</option>
                    <option value="Embakasi East">Embakasi East</option>
                    <option value="Embakasi North">Embakasi North</option>
                    <option value="Embakasi South">Embakasi South</option>
                    <option value="Embakasi West">Embakasi West</option>
                    <option value="Kamukunji">Kamukunji</option>
                    <option value="Kasarani">Kasarani</option>
                    <option value="Kibra">Kibra</option>
                    <option value="Lang'ata">Lang'ata</option>
                    <option value="Makadara">Makadara</option>
                    <option value="Mathare">Mathare</option>
                    <option value="Nairobi Central">Nairobi Central</option>
                    <option value="Roysambu">Roysambu</option>
                    <option value="Ruaraka">Ruaraka</option>
                    <option value="Starehe">Starehe</option>
                    <option value="Westlands">Westlands</option>
                </select>
                <label for="location">Location:(required)</label>
                <input type="text" id="location" name="location" required>
                <label for="subLocation">Sub Location:(required)</label>
                <input type="text" id="subLocation" name="subLocation" required>
            </div>
            <div class="section">
                <h2>Assistant Chief</h2>
                <label for="assistantChief">Name:(required)</label>
                <input type="text" id="assistantChief" name="assistantChief" required>
                <label for="assistantChiefPhoneNumber">Phone Number(s):(required)</label>
                <input type="tel" id="assistantChiefPhoneNumber" name="assistantChiefPhoneNumber" required>
            </div>
            <div class="section">
                <h2>Facility Details</h2>
                <label for="facilityCode">Referring Facility Code:(required)</label>
                <input type="text" id="facilityCode" name="facilityCode" required>
                <div class="value-suggestion">
                    <label for="referringfacility">Referring facility name:(required)</label>
                    <input type="text" name="referringfacility" id="referringfacility">
                    <div class="suggestions-div">
                        <ul id="suggestions1"></ul>
                    </div>
                </div>

                <label for="referringfacility">Referring facility department:(required)</label>
                <input type="text" name="referringfacilityDepartment" id="referringfacilityDepartment">

                <div class="value-suggestion">
                    <label for="recipientfacility">Receiving facility name:(required)</label>
                    <input type="text" name="referfacility" id="referfacility">
                    <div class="suggestions-div">
                        <ul id="suggestions2"></ul>
                    </div>
                </div>

                <label for="recipientfacility">Receiving facility department:(required)</label>
                <input type="text" name="referfacilityDepartment" id="referfacilityDepartment">

                <h2>History and Investigations</h2>
                <label for="category">Special Category(From Investigations)</label>
                <select name="department" id="department">
                    <option value="Communicable diseases">Communicable diseases</option>
                    <option value="TB">Tuberculosis (TB)</option>
                    <option value="NCD">Non-Communicable Diseases (NCDs)</option>
                    <option value="ID">Infectious Diseases (ID)</option>
                </select>

                <label for="investigations">History/Investigations (if any)(required)</h2>
                    <textarea id="investigations" name="investigations" rows="4" cols="50"></textarea>
                    <label for="diagnosis">Diagnosis (if known)</label>
                    <textarea id="diagnosis" name="diagnosis" rows="4" cols="50"></textarea>
            </div>
            <div class="section">
                <h2>Reason For Referral</h2>
                <label for="referralReason">Reasons for referral:(required)</label>
                <select name="referralReason" id="referralReason">
                    <option value="Further treatment">Further treatment</option>
                    <option value="Specialized Treatment">Specialized Treatment</option>
                    <option value="Higher Level of Care">Higher Level of Care</option>
                </select>
            </div>
            <div class="section">
                <h2>Referring officer details</h2>
                <label for="requestingOfficerName">Name:(required)</label>
                <input type="text" id="requestingOfficerName" name="requestingOfficerName">
                <label for="designation">Designation:(required)</label>
                <input type="text" id="requesting-officer-designation" name="designation">
                <label for="phoneNumber">Telephone Number(s):(required)</label>
                <input type="tel" id="requesting-officer-phone" name="phoneNumber">
            </div>
            <h2>Next of Kin Details</h2>
            <div class="section">
                <label for="nextOfKinName">Name:(required)</label>
                <input type="text" id="nextOfKinName" name="nextOfKinName">
                <label for="nextOfKinRelationship">Relationship:(required)</label>
                <input type="text" id="nextOfKinRelationship" name="nextOfKinRelationship">
                <label for="nextOfKinPhoneNumber">Phone Number(s):(required)</label>
                <input type="tel" id="nextOfKinPhoneNumber" name="nextOfKinPhoneNumber">
            </div>
            <button type="submit" id="show-specimen">+ Add specimen details</button>
            <div class="section" id="specimen-details">
                <h2>Accompanying Specimen Details</h2>
                <div class="section-row">
                    <label for="specimen">Specimen and Description:</label>
                    <textarea id="specimen" name="specimen" rows="4" cols="50"></textarea>
                    <label for="source">Source:</label>
                    <input type="text" id="source" name="source">
                </div>
                <div class="section-row">
                    <label for="collectionDate">Collection Date (dd/mm/yyyy):</label><br>
                    <input type="date" id="collectionDate" name="collectionDate"><br>
                    <label for="collectionTime">Time (24hrs):</label><br>
                    <input type="time" id="collectionTime" name="collectionTime">
                </div>
                <div class="section-row">
                    <label for="preservationDate">Date of Preservation:</label><br>
                    <input type="date" id="preservationDate" name="preservationDate"> <br>
                    <label for="preservationMethod">Method of Preservation:</label>
                    <input type="text" id="preservationMethod" name="preservationMethod">
                </div>
            </div>
            <div class="section">
                <h2>Client in transit monitoring form</h2>
            </div>
            <button type="submit" id="submit_referral">Submit Referral Data</button>
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', async function () {
            const closeMenu = document.getElementById('close-menu');
            const openMenu = document.getElementById('open-menu');
            const submenu = document.getElementById('submenu');
            const showSpecimen = document.getElementById('show-specimen');
            const specimenForm = document.getElementById('specimen-details');
            const submitReferral = document.getElementById('submit_referral');
            const sendReferral = document.getElementById('send_referral');
            function getQueryParam(name) {
                const urlParams = new URLSearchParams(window.location.search);
                return urlParams.get(name);
            }

            const facilityPath = getQueryParam('facilityPath');

            // console.log(facilityPath);

            openMenu.addEventListener('click', async (e) => {
                openMenu.style.display = 'none';
                closeMenu.style.display = 'block';
                submenu.style.display = 'block'; // Show submenu
            });

            closeMenu.addEventListener('click', async (e) => {
                closeMenu.style.display = 'none';
                openMenu.style.display = 'block';
                submenu.style.display = 'none'; // Hide submenu
            });

            showSpecimen.addEventListener('click', async (e) => {
                e.preventDefault();
                specimenForm.style.display = (specimenForm.style.display === 'none') ? 'block' : 'none';
            });

            submitReferral.addEventListener('click', async (e) => {
                e.preventDefault();
                // Service level
                const serviceLevel = document.getElementsByName('serviceLevel');
                // Service type
                const referralType = document.getElementsByName('referralType');
                // Date and time
                const dateInput = document.getElementById('date');
                const timeInput = document.getElementById('time');
                // Facility details
                const facilityCodeInput = document.getElementById('facilityCode');
                const referringFacilityInput = document.getElementById('referringfacility');
                const referringFacilityDepartment = document.getElementById('referringfacilityDepartment');
                const receivingFacilityDepartment = document.getElementById('referfacilityDepartment')
                const receivingFacilityInput = document.getElementById('referfacility');
                // Client details
                const clientNameInput = document.getElementById('clientName');
                const ageInput = document.getElementById('age');
                const sexSelect = document.getElementById('sex');
                const ipOpNumberInput = document.getElementById('ipOpNumber');
                const idNumberInput = document.getElementById('idNumber');
                const nhifNumberInput = document.getElementById('nhifNumber');
                const phoneNumberInput = document.getElementById('phoneNumber');
                const addressTextarea = document.getElementById('address');
                const countyInput = document.getElementById('county');
                const subCountyInput = document.getElementById('subCounty');
                const locationInput = document.getElementById('location');
                const subLocationInput = document.getElementById('subLocation');
                // Assistant chief details
                const assistantChiefInput = document.getElementById('assistantChief');
                const assistantChiefPhoneNumberInput = document.getElementById('assistantChiefPhoneNumber');
                // Investigations and diagnosis
                const categorySelect = document.getElementById('department');
                const investigationsTextarea = document.getElementById('investigations');
                const diagnosisTextarea = document.getElementById('diagnosis');
                // REferral reason
                const referralReasonTextarea = document.getElementById('referralReason');
                // Referring officer
                const requestingOfficerNameInput = document.getElementById('requestingOfficerName');
                const requestingOfficerDesignationInput = document.getElementById('requesting-officer-designation');
                const requestingPhoneNumberInput = document.getElementById('requesting-officer-phone');
                // Next of kin details
                const nextOfKinNameInput = document.getElementById('nextOfKinName');
                const nextOfKinRelationshipInput = document.getElementById('nextOfKinRelationship');
                const nextOfKinPhoneNumberInput = document.getElementById('nextOfKinPhoneNumber');
                // Accompanying specimen details
                const specimenTextarea = document.getElementById('specimen');
                const sourceInput = document.getElementById('source');
                const collectionDateInput = document.getElementById('collectionDate');
                const collectionTimeInput = document.getElementById('collectionTime');
                const preservationDateInput = document.getElementById('preservationDate');
                const preservationMethodInput = document.getElementById('preservationMethod');



                // Getting values from the input elements
                // Date and time
                const dateValue = dateInput.value.trim();
                const timeValue = timeInput.value.trim();
                // Facility details
                const facilityCodeValue = facilityCodeInput.value.trim();
                const referringFacilityValue = referringFacilityInput.value.trim();
                const referringFacilityDepartmentValue = referringFacilityDepartment.value.trim()
                const receivingFacilityValue = receivingFacilityInput.value;
                const receivingFacilityDepartmentValue = receivingFacilityDepartment.value.trim()
                // Client details
                const clientNameValue = clientNameInput.value.trim();
                const ageValue = ageInput.value.trim();
                const sexValue = sexSelect.value.trim();
                const ipOpNumberValue = ipOpNumberInput.value.trim();
                const idNumberValue = idNumberInput.value.trim();
                const nhifNumberValue = nhifNumberInput.value.trim();
                const phoneNumberValue = phoneNumberInput.value.trim();
                const addressValue = addressTextarea.value.trim();
                const countyValue = countyInput.value.trim();
                const subCountyValue = subCountyInput.value.trim();
                const locationValue = locationInput.value.trim();
                const subLocationValue = subLocationInput.value.trim();
                // Assistant chief details
                const assistantChiefValue = assistantChiefInput.value.trim();
                const assistantChiefPhoneNumberValue = assistantChiefPhoneNumberInput.value.trim();
                // Investigations and diagnosis
                const selectedCategory = categorySelect.value.trim();
                const investigationsValue = investigationsTextarea.value.trim();
                const diagnosisValue = diagnosisTextarea.value.trim();
                // Referral reason
                const referralReasonValue = referralReasonTextarea.value.trim();
                // Referring officer
                const requestingOfficerNameValue = requestingOfficerNameInput.value.trim();
                const requestingOfficerDesignationValue = requestingOfficerDesignationInput.value.trim();
                const requestingPhoneNumberInputValue = requestingPhoneNumberInput.value.trim();
                //Next of kin details
                const nextOfKinNameValue = nextOfKinNameInput.value.trim();
                const nextOfKinRelationshipValue = nextOfKinRelationshipInput.value.trim();
                const nextOfKinPhoneNumberValue = nextOfKinPhoneNumberInput.value.trim();
                // Accopanying specimen details
                const specimenValue = specimenTextarea.value.trim();
                const sourceValue = sourceInput.value.trim();
                const collectionDateValue = collectionDateInput.value.trim();
                const collectionTimeValue = collectionTimeInput.value.trim();
                const preservationDateValue = preservationDateInput.value.trim();
                const preservationMethodValue = preservationMethodInput.value.trim();

                let selectedService = null;

                for (var i = 0; i < serviceLevel.length; i++) {
                    if (serviceLevel[i].checked) {
                        selectedService = serviceLevel[i].value;
                        // console.log("Selected service level: " + selectedService);
                        break;
                    }
                }

                if (!selectedService) {
                    alert('Please select a service level.');

                }

                // console.log("Selected service level: " + selectedService);

                let selectedType = null;

                for (var i = 0; i < referralType.length; i++) {
                    if (referralType[i].checked) {
                        selectedType = referralType[i].value;
                        // console.log("Referral type selected: " + selectedType);
                        break;
                    }
                }

                if (!selectedType) {
                    alert('Please select a service level.');
                }

                // console.log("Referral type selected: " + selectedType);

                // Collecting all the data
                if (clientNameValue === "" ||
                    ageValue === "" ||
                    sexValue === "" ||
                    dateValue === "" ||
                    timeValue === "" ||
                    facilityCodeValue === "" ||
                    phoneNumberValue === "" ||
                    addressValue === "" ||
                    countyInput === "" ||
                    subCountyValue === "" ||
                    locationValue === "" ||
                    subLocationValue === "" ||
                    assistantChiefValue === "" ||
                    assistantChiefPhoneNumberValue === "" ||
                    referringFacilityValue === "" ||
                    receivingFacilityValue === "" ||
                    receivingFacilityDepartmentValue === "" ||
                    referringFacilityDepartmentValue === "" ||
                    investigationsValue === "" ||
                    referralReasonValue === "" ||
                    requestingOfficerDesignationValue === "" ||
                    requestingOfficerNameValue === "" ||
                    requestingPhoneNumberInputValue === "" ||
                    nextOfKinNameValue === "" ||
                    nextOfKinRelationshipValue === "" ||
                    nextOfKinPhoneNumberValue === "") {

                    let missingDetails = "Please fill in the following details:\n";

                    if (clientNameValue === "") missingDetails += "- Client Name\n";
                    if (ageValue === "") missingDetails += "- Age\n";
                    if (sexValue === "") missingDetails += "- Sex\n";
                    if (dateValue === "") missingDetails += "- Date\n";
                    if (timeValue === "") missingDetails += "- Time\n";
                    if (facilityCodeValue === "") missingDetails += "- Facility Code\n";
                    if (phoneNumberValue === "") missingDetails += "- Phone Number\n";
                    if (addressValue === "") missingDetails += "- Address\n";
                    if (countyInput === "") missingDetails += "- County\n";
                    if (subCountyValue === "") missingDetails += "- Sub-County\n";
                    if (locationValue === "") missingDetails += "- Location\n";
                    if (subLocationValue === "") missingDetails += "- Sub-Location\n";
                    if (assistantChiefValue === "") missingDetails += "- Assistant Chief\n";
                    if (assistantChiefPhoneNumberValue === "") missingDetails += "- Assistant Chief Phone Number\n";
                    if (referringFacilityValue === "") missingDetails += "- Referring Facility\n";
                    if (receivingFacilityValue === "") missingDetails += "- Receiving Facility\n";
                    if (receivingFacilityDepartmentValue === "") missingDetails += "- Receiving Facility Department\n";
                    if (referringFacilityDepartmentValue === "") missingDetails += "- Referring Facility Department\n";
                    if (investigationsValue === "") missingDetails += "- Investigations\n";
                    if (referralReasonValue === "") missingDetails += "- Referral Reason\n";
                    if (requestingOfficerDesignationValue === "") missingDetails += "- Requesting Officer Designation\n";
                    if (requestingOfficerNameValue === "") missingDetails += "- Requesting Officer Name\n";
                    if (requestingPhoneNumberInputValue === "") missingDetails += "- Requesting Officer Phone Number\n";
                    if (nextOfKinNameValue === "") missingDetails += "- Next of Kin Name\n";
                    if (nextOfKinRelationshipValue === "") missingDetails += "- Next of Kin Relationship\n";
                    if (nextOfKinPhoneNumberValue === "") missingDetails += "- Next of Kin Phone Number\n";

                    alert(missingDetails);
                } else {



                    const data = {
                        // Service level
                        selectedService: selectedService,
                        // Service type
                        selectedType: selectedType,
                        // Date and time
                        date: dateValue,
                        time: timeValue,
                        // Facility details
                        facilityCode: facilityCodeValue,
                        referringDepartment: referringFacilityDepartmentValue,
                        receivingDepartment: receivingFacilityDepartmentValue,
                        referringFacility: referringFacilityValue,
                        receivingFacility: receivingFacilityValue,
                        // Client details
                        clientName: clientNameValue,
                        age: ageValue,
                        sex: sexValue,
                        ipOpNumber: ipOpNumberValue,
                        idNumber: idNumberValue,
                        nhifNumber: nhifNumberValue,
                        phoneNumber: phoneNumberValue,
                        address: addressValue,
                        county: countyValue,
                        subCounty: subCountyValue,
                        location: locationValue,
                        subLocation: subLocationValue,
                        // Assistant chief details
                        assistantChief: assistantChiefValue,
                        assistantChiefPhoneNumber: assistantChiefPhoneNumberValue,
                        // Investigations and diagnosis
                        category: selectedCategory,
                        investigations: investigationsValue,
                        diagnosis: diagnosisValue,
                        // Referral reason
                        referralReason: referralReasonValue,
                        // Refering officer details
                        requestingOfficerName: requestingOfficerNameValue,
                        requestingOfficerDesignation: requestingOfficerDesignationValue,
                        requestingPhoneNumber: requestingPhoneNumberInputValue,
                        // Next of kin details
                        nextOfKinName: nextOfKinNameValue,
                        nextOfKinRelationship: nextOfKinRelationshipValue,
                        nextOfKinPhoneNumber: nextOfKinPhoneNumberValue,
                        // Accompanying Specimen details
                        specimen: specimenValue,
                        source: sourceValue,
                        collectionDate: collectionDateValue,
                        collectionTime: collectionTimeValue,
                        preservationDate: preservationDateValue,
                        preservationMethod: preservationMethodValue,
                    };

                    try {
                        const response = await fetch('/submit-referral', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        });

                        if (!response.ok) {
                            throw new Error('Failed to submit referral. Server error.');
                            alert("Failed to submit");
                        }

                        // Handle successful response from the server
                        alert('Referral sent successfully.');

                        // Resetting all input fields
                        dateInput.value = '';
                        timeInput.value = '';
                        facilityCodeInput.value = '';
                        referringFacilityInput.value = '';
                        referringFacilityDepartment.value = '';
                        receivingFacilityInput.value = '';
                        receivingFacilityDepartment.value = '';
                        clientNameInput.value = '';
                        ageInput.value = '';
                        sexSelect.value = '';
                        ipOpNumberInput.value = '';
                        idNumberInput.value = '';
                        nhifNumberInput.value = '';
                        phoneNumberInput.value = '';
                        addressTextarea.value = '';
                        countyInput.value = '';
                        subCountyInput.value = '';
                        subLocationInput.value = '';
                        locationInput.value = '';
                        assistantChiefInput.value = '';
                        assistantChiefPhoneNumberInput.value = '';
                        categorySelect.value = '';
                        investigationsTextarea.value = '';
                        diagnosisTextarea.value = '';
                        referralReasonTextarea.value = '';
                        requestingOfficerNameInput.value = '';
                        requestingOfficerDesignationInput.value = '';
                        requestingPhoneNumberInput.value = '';
                        nextOfKinNameInput.value = '';
                        nextOfKinRelationshipInput.value = '';
                        nextOfKinPhoneNumberInput.value = '';
                        specimenTextarea.value = '';
                        sourceInput.value = '';
                        collectionDateInput.value = '';
                        collectionTimeInput.value = '';
                        preservationDateInput.value = '';
                        preservationMethodInput.value = '';

                    } catch (error) {
                        // Handle any errors that occur during form submission
                        console.error('Error submitting referral:', error.message);
                        alert("Something went wrong while submiting form");
                    }
                }
            });

            const inputField1 = document.getElementById('referringfacility');
            const suggestionsList1 = document.getElementById('suggestions1');

            inputField1.addEventListener('input', async function () {
                const userInput = this.value.trim();
                if (!userInput) {
                    suggestionsList1.innerHTML = ''; // Clear suggestions if input is empty
                    return;
                }

                try {
                    const response = await fetch('/facilities');
                    const facilitiesData = await response.json();
                    const facilityNames = facilitiesData.facilities.map(facility => facility.name.trim());

                    const matchedFacilities = facilityNames.filter(name => name.toLowerCase().includes(userInput.toLowerCase()));

                    // Display suggestions
                    suggestionsList1.innerHTML = '';
                    matchedFacilities.forEach(facility => {
                        const listItem = document.createElement('li');
                        listItem.textContent = facility;
                        suggestionsList1.appendChild(listItem);

                        // Add click event listener to list item
                        listItem.addEventListener('click', function () {
                            // Set the value of the Hospital name field
                            inputField1.value = facility;
                            // Clear suggestions
                            suggestionsList1.innerHTML = '';
                        });
                    });
                } catch (error) {
                    console.error('Error fetching facilities:', error);
                }
            });


            const inputField = document.getElementById('referfacility');
            const suggestionsList = document.getElementById('suggestions2');

            inputField.addEventListener('input', async function () {
                const userInput = this.value.trim();
                if (!userInput) {
                    suggestionsList.innerHTML = ''; // Clear suggestions if input is empty
                    return;
                }

                try {
                    const response = await fetch('/facilities');
                    const facilitiesData = await response.json();
                    const facilityNames = facilitiesData.facilities.map(facility => facility.name.trim());

                    const matchedFacilities = facilityNames.filter(name => name.toLowerCase().includes(userInput.toLowerCase()));

                    // Display suggestions
                    suggestionsList.innerHTML = '';
                    matchedFacilities.forEach(facility => {
                        const listItem = document.createElement('li');
                        listItem.textContent = facility;
                        suggestionsList.appendChild(listItem);

                        // Add click event listener to list item
                        listItem.addEventListener('click', function () {
                            // Set the value of the Hospital name field
                            inputField.value = facility;
                            // Clear suggestions
                            suggestionsList.innerHTML = '';
                        });
                    });
                } catch (error) {
                    console.error('Error fetching facilities:', error);
                }
            });
        });
    </script>
</body>

</html>