<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="icon.svg" type="image/x-icon" />
    <title>Facility selection</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ffffff;
        }

        .container {
            width: 100%;
            padding: 20px;
            background-color: #ffffff;
            /* White background */
        }

        .card {
            background-color: rgba(255, 255, 255, 0.9);
            /* Semi-transparent white cards */
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            padding: 20px;
            margin-bottom: 20px;
            width: fit-content;
            /* Adjusting width to fit content */
            height: fit-content;
            /* Adjusting height to fit content */
            backdrop-filter: blur(10px);
            /* Blur effect */
            background-color: #0c1e3e;
            cursor: pointer;
        }

        .card h2 {
            margin-top: 0;
            color: #ffffff;
        }

        .card h2 strong {
            color: #0d47a1;
            /* Dark blue text for strong elements */
        }

        .card h2:first-child {
            border-bottom: 1px solid #0d47a1;
            /* Dark blue border for the first h2 */
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="container" id="facilitiesContainer">
        <!-- Card appears here -->
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', async function () {
        try {
            const response = await fetch('/fetch-facilities', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({}) // If you need to pass any data to the backend
            });
            const data = await response.json();

            // console.log("Data:",data);

            const facilitiesContainer = document.getElementById('facilitiesContainer');

            // Iterate through the data and create cards
            data.forEach(facility => {
                const card = document.createElement('div');
                card.classList.add('card');

                // Customize the structure of the card based on your data
                card.innerHTML = `
                        <h2>${facility.name}</h2>
                    `;

                facilitiesContainer.appendChild(card);

                card.addEventListener('click', function () {
                    // Log the name of the selected card
                    console.log('Selected card name:', facility.name);

                    // Construct the URL with the selected card's name as a query parameter
                    const url = `/confirm-action?accessPath=${encodeURIComponent(facility.ip_address)}`;

                    // Redirect to the confirm-action page with the selected card's name as a query parameter
                    window.location.href = url;
                });

            });
        } catch (error) {
            console.error('Error fetching data:', error);
        }
    });
</script>

</html>